* {
  box-sizing border-box
}

#splash
  text-align center

#splash h1 
  text-decoration none


a:-webkit-any-link
  text-decoration none
  color orange
  font-weight 300px

.notes
  display flex
  flex-direction column
  align-content center

.note-form 
  input, textarea
    width 50%
    height 195px
    margin 1rem
    padding 1rem 0 1rem 1rem
    font-size 0.9rem
    resize none
    border 0
    outline 1px solid dodgerblue

.button
  width 10%
  height 30px 
  text-align center
  align-self center
  background dodgerblue
  border none
  color white
